@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --main-background: #023047;
    --gameboard-color:  #219EBC;
}

body {
    margin: 0;
    padding: 0;
    background: var(--main-background);
    color: #F7F7FF;
    font-family: 'Roboto', sans-serif;
    }

.header {
    text-align: center;
    font-size: 36px;
    color: #E7ECEF;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.player-info {
    margin-bottom: 50px;
    font-size: 30px;
}

.player-one-result,
.ties,
.player-two-result {
    font-size: 28px;
    font-weight: 800;
}

.gameboard {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 10px;

}

.gameboard-button {
    background: var(--gameboard-color);
    border: 2px solid #F7F7FF;
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    font-size: 4em;
    font-weight: 800;
    color: white;
}

.gameboard-button:hover {
    cursor: pointer;
    background: #1d88a3;
}

.result-info {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.player-one-div,
.ties-div,
.player-two-div {
    width: 250px;
    height: 70px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    color: black;
}

.player-one-div {
    background: #219EBC;
}

.ties-div {
    background: #A9BEC8;
}

.player-two-div {
    background: #F2B138;
}


dialog {
    display: none;
    width: 100%;
    height: 25%;
    flex-direction: column;
    align-items: center;
    background: #3b8eb8;
    border: none;
    box-shadow: 0px 0px 50px 5px #000000;
}

dialog > .dialog-message {
    font-size: 2em;
    font-weight: 800;
}

dialog > .next-round-button {
    font-size: 20px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background: #F2B138;
}
.next-round-button:hover {
    cursor: pointer;
    background: #d1982d;
}